<h1>Registered Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
	<% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
		  </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to "Home", root_path %>